<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo AList</title>
  <style>
    .grid{
      display: grid;
      /*grid-template-columns: 3fr;*/
      gap: 10px;
    }
    .alert{
      border-radius: 2rem;
      padding: 2rem;
      color: white;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-around;
    }
    .alert-success{
      background: rgb(3, 159, 37);
    }
    .alert-danger{
      background: #a10505;
    }
    input, button, textarea{
      padding: 1em;
    }
  </style>
</head>
<body>
<header>
  {% if name %}
  <div class="alert alert-success">
  Welcome {{ name }} <a href="/logout">logout</a>
  </div>
  {% endif %}
</header>
  {% block content %}
  {% endblock %}
</body>
</html>